alembic==1.11.1
anyio==3.7.1
arrow==1.2.3
attrs==23.1.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
cookiecutter==1.7.3
DateTime==5.2
dnspython==2.4.1
email-validator==2.0.0.post2
exceptiongroup==1.1.2
fastapi==0.100.1
greenlet==2.0.2
h11==0.14.0
httptools==0.6.0
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
Mako==1.2.4
manage-fastapi==1.1.1
MarkupSafe==2.1.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
numpy==1.25.2
outcome==1.2.0
pandas==2.0.3
poyo==0.5.0
prompt-toolkit==3.0.39
protobuf==4.21.12
pycparser==2.21
pydantic==1.10.12
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3
PyYAML==6.0.1
questionary==1.10.0
requests==2.31.0
selenium==4.11.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.19
starlette==0.27.0
text-unidecode==1.3
trio==0.22.2
trio-websocket==0.10.3
typer==0.4.2
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.23.2
watchfiles==0.19.0
wcwidth==0.2.6
websockets==11.0.3
wsproto==1.2.0
zope.interface==6.0
